.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}
.form label {
  margin: 2px;
}
.field-error {
  color: red;
}
.file-input {
  display: none;
  border-radius: 5px;
  border: 2px solid white;
}

input {
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: 20px;
}
/* input::placeholder {
  color: white;
} */
.form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
}
