.tour-poster {
  width: 100%;
  border-radius: 15px;
  border: 3px white solid;
}
.transports {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: auto;
  white-space: nowrap;
  max-width: 100%;
}
.transports > * {
  margin-left: 10px;
}
.header-title-filter {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.filter > * {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}
.activeFilter {
  color: #fdaf01;
}
.map-main {
  height: 500px;
  border-radius: 15px;
  border: 2px white solid;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .transports {
    overflow-x: auto; /* Change to auto for better mobile experience */
    margin-top: 15px; /* Adjust margin for smaller screens */
  }
}
