.Card {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.poster {
  flex-grow: 1;
}
.poster-image {
  width: 300px;
  border-radius: 15px;
}
.data {
  flex-grow: 1;
  padding: 0 10px;
}
