.transportCard {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.transport-poster-image {
  width: 250px;
  border-radius: 15px;
}
