@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  text-decoration: none;
}

button {
  background-color: black;

  color: white;

  padding: 10px 20px;

  margin: 10px 0;

  border: 2px solid white;

  border-radius: 10px;

  cursor: pointer;
}

select {
  background-color: black;

  color: white;

  padding: 10px 20px;

  margin: 10px 0;

  border: 2px solid white;

  border-radius: 10px;
}

/* Hover state: style changes when the mouse is over the button */
button:hover {
  background-color: #fdaf01;
  /* You can add more hover styles here if desired */
}

.link-button {
  display: inline-block;
  padding: 10px;
  margin: 20px;
  border: 2px solid white;
  border-radius: 10px;
}
